

h1 {
        	color:#0C48F6;
        }



p {
     color:white;
}


a {
	color:#0CF6DD;
}

option {
	color:#15D468;
}




th {
	color:#1538D4;
}


#special {
	color:#4AE0E8;
}



body {
	background:url(http://kb4images.com/images/pretty-backgrounds/37953118-pretty-backgrounds.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}



}



td {
	color:#127343;
}


button {
	color:red;
}


h1 {
	text-align:center;
}

h1 {
	font-size:50px;
}


p {
	font-family:Indie Flower;
}


h1 {
	font-family:Cormorant Unicase;
}

a {
	font-family:Shadows Into Light;
}















