body {
	background:url(http://www.grup-pumsa.cat/uploadwallimgs/b/85/852739_pretty-background-wallpaper.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}


p {
	text-align:center;
}

p {
	font-family:Merienda;
}

p {
	font-size:110px;
}

p {
	color:white;
}